.App {
  text-align: center;
}
.btn{
  color: #F0A202;
}
#logo{
  background: -webkit-linear-gradient(#F0A202, #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo img{
  height: 10vh;
}