@import url('https://fonts.googleapis.com/css?family=Anton');

body {
  margin: 0;
  padding: 0;
  color: #F0A202;
  background: #2c3e50;
  font-family: 'Anton', sans-serif;
}

.App {
  text-align: center;
}
.btn{
  color: #F0A202;
}
#logo{
  background: -webkit-linear-gradient(#F0A202, #FDFFFC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#logo img{
  height: 10vh;
}
.weatherData{
  padding-top: 3vh; 
  border-top: 3px #F0A202 solid;
}